%section
  %article.bigcolumn
    %h2 Bible Teachings
    %p
      Hundreds of free Bible studies in MP3 and Outline format.
      Watch, download or burn to CD.

    %p
      %a(href="/podcasts/index.htm") Podcasts

    %p
      %a(href="/") Bible Teaching Index

  %article.bigcolumn
    %h2 Summer Institute
    %p
      %strong Mark your calendar!
      The 2014 conference,
      %em Evangelism, The Unexpected Adventure
      , will be July 9-11. Come hear key speakers: Lee Strobel, Mark Mittleberg,
      and Randy Newman.

    %p
      %a(href="/xsi/index.htm") Get More Info
    %p
      %a(href="/xsi") Institute MP3 Archive
%section
  %article.bigcolumn
    %h2 Home Groups
    %p Xenos is a movement of house churches. Find out more about our neighborhood groups

    %p
      %a(href="/homegroups/connection.htm") Join a Home Group
    %p
      %a(href="/homegroups/what-why-how-theory.htm") Why Meet in Homes?
    %p
      %a(href="/leadership-resources.htm") Resources for Leaders

  %article.bigcolumn
    %h2 Support Joke van Opstal

    %p Help transform lives in Cambodia economically, socially, and spiritually.

    %p
      %a(href="/support/joke") Support Joke van Opstal
    
    %p
      %a(href="/support/fountainofhope") Support Fountain of Hope
