!!! html5
%html
  %head
    %link(rel="stylesheet" href="/stylesheet.css")
  %body
    %section
      %nav
        %ul
          %li
            %a(href="/aboutxenos/index.htm") About Xenos
          %li
            %a(href="/homegroups/index.htm") Home Groups
          %li
            %a(href="/teachings") Teachings
          %li
            %a(href="/classes/index.htm") Classes
          %li
            %a(href="/essays/index.htm") Books &amp; Essays
          %li
            %a(href="/ministries/index.htm") Ministries
          %li
            %a(href="/xsi/index.htm") Summer Institute

    %section
      %article
        = yield

    %section
      %address
        1430 Community Park Drive, Columbus OH 43229 (614) 823-6500

