!!! html5
%html
  %head
    %link(rel="stylesheet" href="/stylesheet.css")
  %body
    %section
      %nav
        %ul
          %li About Xenos
          %li Home Groups
          %li Teachings
          %li Classes
          %li Books & Essays
          %li Ministries
          %li Summer Institute
          %li Store
          %li Give
          %li News

    %section
      %article
        = yield

    %section
      %address
        1430 Community Park Drive, Columbus OH 43229 (614) 823-6500

